:host {
  .footer-wrapper {
    position: relative;
    overflow: hidden;

    .text-wrapper {
      margin-bottom: 140px;
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 6px;

      .first-text {
        color: #360f0f;
        font-family: 'Great Vibes';
        font-size: 75px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .second-text {
        color: #360f0f;
        font-family: 'Great Vibes';
        font-size: 75px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .picture {
      .img {
        width: 100%;
        height: 100%;
      }
    }

    .flowers {
      position: absolute;
      top: 0;
      aspect-ratio: 183.76 / 70.31;

      will-change: transform;
    }

    .flowers img {
      display: block;
      object-fit: contain;
    }

    .flowers.left {
      right: -40px;
    }

    .flowers.right {
      left: -40px;
    }

    .flowers.left {
      animation: swing-left 2.8s ease-in-out infinite;
    }

    .flowers.right {
      animation: swing-right 3.2s ease-in-out infinite;
    }
  }
}

@media (max-width: 768px) {
  :host {
    .footer-wrapper {
      .text-wrapper {
        margin-bottom: 40px;
        gap: 13px;

        .first-text {
          font-size: 28px;
        }

        .second-text {
          font-size: 32px;
        }
      }
    }
  }
}

@keyframes swing-left {
  0% {
    transform: rotate(-175deg);
  }
  50% {
    transform: rotate(-168deg);
  }
  100% {
    transform: rotate(-175deg);
  }
}

@keyframes swing-right {
  0% {
    transform: rotate(175deg);
  }
  50% {
    transform: rotate(168deg);
  }
  100% {
    transform: rotate(175deg);
  }
}
