<footer class="footer-wrapper">
  <div class="text-wrapper">
    <span class="first-text">До торжества:</span>

    <span class="second-text">{{ daysLeft() }} дней</span>
  </div>

  <picture class="picture flowers left">
    <source srcset="/assets/footer/left-flowers-mobile.webp" media="(max-width: 768px)" />

    <img src="/assets/footer/left-flowers.webp" alt="Wedding background" class="img" />
  </picture>

  <picture class="picture flowers right">
    <source srcset="/assets/footer/right-flowers-mobile.webp" media="(max-width: 768px)" />

    <img src="/assets/footer/right-flowers.webp" alt="Wedding background" class="img" />
  </picture>
</footer>
