:host {
  .header {
    display: block;
    margin-bottom: 120px;
    position: relative;
    width: 100%;
    overflow: hidden;

    .bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      display: block;
    }

    .content {
      position: absolute;
      inset: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      text-align: center;

      .text-wrapper {
        width: 300px;
        height: 206px;
        display: flex;
        flex-direction: column;

        .text {
          font-family: 'Great Vibes';
          font-weight: 400;
          line-height: 100%;
          letter-spacing: 0%;
          color: #ffffff;
        }

        .first-text {
          align-self: flex-start;
          font-size: 75px;
        }

        .secont-text {
          align-self: center;
          font-size: 40px;
        }

        .third-text {
          align-self: flex-end;
          font-size: 75px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  :host {
    .header {
      margin-bottom: 30px;

      .content {
        .text-wrapper {
          width: 206px;
          gap: 10px;

          .text-wrapper {
            font-size: 40px;
          }

          .secont-text {
            font-size: 20px;
          }

          .third-wrapper {
            font-size: 40px;
          }
        }
      }
    }
  }
}
