<header class="header">
  <picture>
    <source srcset="/assets/header/header-main-image-mobile.webp" media="(max-width: 768px)" />

    <img
      src="/assets/header/header-main-image.webp"
      alt="Wedding background"
      class="img"
    />
  </picture>

  <div class="content">
    <div class="text-wrapper">
      <span class="text first-text"> Сергей </span>

      <span class="text secont-text"> & </span>

      <span class="text third-text"> Алёна </span>
    </div>
  </div>
</header>
