<header class="header">
  <picture>
    <source srcset="/assets/header/header-main-image-mobile.webp" media="(max-width: 768px)" />

    <img src="/assets/header/header-main-image.webp" alt="Wedding background" class="img" />
  </picture>

  <div class="content">
    <div class="text-container">
      <div class="first text-wrapper">
        <span class="text first-text"> Сергей </span>
      </div>

      <div class="second text-wrapper">
        <span class="text secont-text"> & </span>
      </div>

      <div class="third text-wrapper">
        <span class="text third-text"> Алёна </span>
      </div>
    </div>
  </div>
</header>
