<!-- <header class="header">
  <img
    src="/assets/header/header-main-image.webp"
    alt="Wedding background"
    width="1440"
    height="900"
    priority
    class="bg"
  />

  <div class="content">
    <img
      src="/assets/header/header-secondary-image.webp"
      alt="Center"
      class="center"
    />
  </div>
</header> -->

<header class="header">
  <picture>
    <source
      srcset="/assets/header/header-main-image-mobile.webp"
      media="(max-width: 768px)"
    />

    <img
      src="/assets/header/header-main-image.webp"
      alt="Wedding background"
      width="1440"
      height="900"
      class="bg"
    />
  </picture>

  <div class="content">
    <picture>
      <source
        srcset="/assets/header/header-secondary-image-mobile.webp"
        media="(max-width: 768px)"
      />

      <img
        src="/assets/header/header-secondary-image.webp"
        alt="Center"
        class="center"
      />
    </picture>
  </div>
</header>
