<section class="venue-wrapper" #venue>
  <picture class="picture top">
    <source srcset="/assets/venue/venue-main-image-mobile.webp" media="(max-width: 768px)" />

    <img src="/assets/venue/venue-main-image.webp" class="img" />
  </picture>

  <picture class="picture bottom">
    <img src="/assets/venue/venue-secondary-image.webp" class="img" />
  </picture>

  <div class="text-wrapper">
    <h2 class="main-text">Место проведения</h2>

    <div class="secondary-text-wrapper">
      <span class="first-text">Агроусадьба «Семисосны»</span>

      <span class="second-text"
        >Брестский район, Мухавецкий сельсовет, <br />
        деревня Семисосны, 6/1</span
      >
    </div>

    <div class="button" (click)="openMap()">
      <span class="text">Открыть карту</span>
    </div>
  </div>
</section>
