:host {
  .letters-wrapper {
    .picture {
      .img {
        width: 100%;
      }
    }

    .letters-container {
      .text-container {
        position: relative;
        text-align: center;

        .text {
          font-family: 'Great Vibes';
          font-size: 75px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: #360f0f;
        }

        .picture {
          &.left {
            position: absolute;
            top: -5vw;
            left: 15vw;
          }

          &.right {
            position: absolute;
            bottom: -5vw;
            right: 15vw;
          }

          .img {
            width: 122px;
            height: 114px;
            aspect-ratio: 61/57;
          }
        }
      }
    }

    .gift-container {
      padding: 0 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 40px;

      .text-container {
        width: 807px;
        max-width: 807px;

        .text {
          color: #360f0f;
          text-align: center;
          font-family: 'Great Vibes';
          font-size: 36px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: #360f0f;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  :host {
    .letters-wrapper {
      .letters-container {
        .text-container {
          .text {
            font-size: 36px;
          }

          .picture {
            display: none;
          }
        }
      }

      .gift-container {
        padding: 0 42px;
        gap: 20px;

        .text-container {
          width: 344px;
          max-width: 344px;
          height: 330px;
          max-height: 330px;

          .text {
            font-size: 24px;
          }
        }
      }
    }
  }
}
