<section class="letters-wrapper" #lettersBlock>
  <picture class="picture">
    <source srcset="/assets/letters/decor-mobile.webp" media="(max-width: 768px)" />

    <img src="/assets/letters/decor.webp" alt="Wedding background" class="img" />
  </picture>

  <div class="letters-container">
    <div class="text-container">
      <span class="text">Письма</span>

      <picture class="picture sun left">
        <img src="/assets/letters/sun-left.webp" alt="Wedding background" class="img" />
      </picture>

      <picture class="picture sun right">
        <img src="/assets/letters/sun-right.webp" alt="Wedding background" class="img" />
      </picture>
    </div>
  </div>

  <div class="gift-container">
    <div class="gift-animation">
      <picture class="picture">
        <source srcset="/assets/letters/gift-mobile.webp" media="(max-width: 768px)" />

        <img src="/assets/letters/gift.webp" alt="Wedding background" class="img" />
      </picture>
    </div>

    <div class="text-container">
      <span class="text">
        Нам будет очень ценно сохранить частичку этого дня, наполненную вашими словами и эмоциями!
        Если вам захочется, напишите для нас небольшое письмо — это могут быть пожелания,
        воспоминания или просто тёплые слова от сердца. Мы обязательно прочитаем их позже, в
        спокойный момент после свадьбы, и будем бережно хранить как одно из самых дорогих
        воспоминаний об этом дне!
      </span>
    </div>
  </div>
</section>
