:host {
  .dress-code-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;

    .main-block-container {
      position: relative;

      .main-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .main-text {
          text-align: center;
          font-family: 'Great Vibes';
          font-size: 75px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: #360f0f;
        }

        .picture {
          .img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .picture {
        .img {
          width: 100%;
          height: 100%;
        }
      }

      /* ОБЩЕЕ ДЛЯ РУК */
      .left-arm,
      .right-arm {
        position: absolute;
        bottom: 0;
        z-index: 2;
        pointer-events: none;
        width: 45%; // КРИТИЧНО

        .img {
          width: 100%;
          display: block;
        }
      }

      /* СТАРТ (видно ~20px) */
      .left-arm {
        left: 0;
        transform: translateX(calc(-100% + 20px));
        transition: transform 1.2s cubic-bezier(0.22, 1, 0.36, 1);
      }

      .right-arm {
        right: 0;
        transform: translateX(calc(100% - 20px));
        transition: transform 1.2s cubic-bezier(0.22, 1, 0.36, 1);
      }
    }

    .second-text {
      color: #360f0f;
      text-align: center;
      font-family: 'Libre Baskerville';
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .picture {
      .img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
