<section class="dress-code-wrapper" #dressBlock>
  <div class="main-block-container">
    <div class="main-block">
      <h2 class="main-text">Дресс код</h2>

      <picture class="picture">
        <source srcset="/assets/dress-code/flowers-image-mobile.webp" media="(max-width: 768px)" />

        <img src="/assets/dress-code/flowers-image.webp" alt="Wedding background" class="img" />
      </picture>
    </div>

    <picture class="picture left-arm">
      <source srcset="/assets/dress-code/left-arm-mobile.webp" media="(max-width: 768px)" />

      <img src="/assets/dress-code/left-arm.webp" alt="Wedding background" class="img" />
    </picture>

    <picture class="picture right-arm">
      <source srcset="/assets/dress-code/right-arm-mobile.webp" media="(max-width: 768px)" />

      <img src="/assets/dress-code/right-arm.webp" alt="Wedding background" class="img" />
    </picture>
  </div>

  <h3 class="second-text">
    Нам будет особенно приятно, если в <br />
    своих образах вы поддержите <br />
    палитру нашего дня
  </h3>

  <picture class="picture">
    <source srcset="/assets/dress-code/palitres-image-mobile.webp" media="(max-width: 768px)" />

    <img
      src="/assets/dress-code/palitres-image.webp"
      alt="Wedding background"
      width="1440"
      height="900"
      class="img"
    />
  </picture>

  <picture class="picture">
    <source srcset="/assets/dress-code/people-image-mobile.webp" media="(max-width: 768px)" />

    <img
      src="/assets/dress-code/people-image.webp"
      alt="Wedding background"
      width="1440"
      height="900"
      class="img"
    />
  </picture>
</section>
