<div class="wishes-container">
  <div class="img-wrapper animate top-animation">
    <picture class="picture">
      <img src="/assets/wishes/wishes-flowers.webp" alt="wishes flowers" class="img" />
    </picture>
  </div>

  <div class="content-wrapper">
    <h2 class="text animate fade-up">Пожелание</h2>

    <div class="glass-wrapper animate rotate-animation">
      <picture class="picture">
        <source srcset="/assets/wishes/wishes-mobile.webp" media="(max-width: 768px)" />

        <img src="/assets/wishes/wishes.webp" alt="wishes glass" class="img" />
      </picture>
    </div>

    <div class="text-wrapper animate fade-up delay">
      <span class="text">
        Для нас самое важное — ваше присутствие и эмоции этого дня. А если вам захочется дополнить
        подарок, вместо цветов мы будем рады бутылочке вина. Со временем мы откроем её в один из
        уютных вечеров и снова вернёмся мыслями к этому празднику.
      </span>
    </div>
  </div>
</div>
