<div class="wishes-container">
  <div class="img-wrapper">
    <picture class="picture">
      <img src="/assets/wishes/wishes-flowers.webp" alt="wishes flowers" class="img" />
    </picture>
  </div>

  <div class="content-wrapper">
    <h2 class="text">Пожелание</h2>

    <div class="glass-wrapper">
      <picture class="picture">
        <source srcset="/assets/wishes/wishes-mobile.webp" media="(max-width: 768px)" />

        <img src="/assets/wishes/wishes.webp" alt="wishes glass" class="img" />
      </picture>
    </div>

    <div class="text-wrapper">
      <span class="text">
        Нам будет очень ценно сохранить частичку этого дня, наполненную вашими словами и эмоциями!
        Если вам захочется, напишите для нас небольшое письмо — это могут быть пожелания,
        воспоминания или просто тёплые слова от сердца. Мы обязательно прочитаем их позже, в
        спокойный момент после свадьбы, и будем бережно хранить как одно из самых дорогих
        воспоминаний об этом дне!
      </span>
    </div>
  </div>
</div>
