<div class="be-happy-wrapper">
  <picture class="picture">
    <source srcset="/assets/be-happy/landscape-mobile.webp" media="(max-width: 768px)" />

    <img src="/assets/be-happy/landscape.webp" alt="Wedding background" class="img" />
  </picture>

  <div class="flowers-wrapper">
    <picture class="picture">
      <source srcset="/assets/be-happy/left-flowers-mobile.webp" media="(max-width: 768px)" />

      <img src="/assets/be-happy/left-flowers.webp" alt="Wedding background" class="img" />
    </picture>

    <picture class="picture">
      <source srcset="/assets/be-happy/right-flowers-mobile.webp" media="(max-width: 768px)" />

      <img src="/assets/be-happy/right-flowers.webp" alt="Wedding background" class="img" />
    </picture>
  </div>

  <div class="be-happy-wrapper">
    <picture class="picture">
      <source srcset="/assets/be-happy/left-curtain-mobile.webp" media="(max-width: 768px)" />

      <img src="/assets/be-happy/left-curtain.webp" alt="Wedding background" class="img" />
    </picture>

    <picture class="picture">
      <source srcset="/assets/be-happy/right-curtain-mobile.webp" media="(max-width: 768px)" />

      <img src="/assets/be-happy/right-curtain.webp" alt="Wedding background" class="img" />
    </picture>

    <picture class="picture">
      <source srcset="/assets/be-happy/main-image-mobile.webp" media="(max-width: 768px)" />

      <img src="/assets/be-happy/main-image.webp" alt="Wedding background" class="img" />
    </picture>
  </div>
</div>
