:host {
  .be-happy-wrapper {
    .picture {
      .img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .flowers-wrapper {
    display: flex;
    margin-top: -175px;

    .picture {
      .img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
