:host {
  .be-happy-wrapper {
    position: relative;
    overflow: hidden;

    .flowers-wrapper {
      display: flex;
      margin-top: -175px;

      .picture {
        .img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .stage {
    z-index: 1;
    position: relative;
    height: 1160px;
    overflow: hidden;
    margin-top: -25px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    max-width: 800px;
    text-align: center;

    .text-wrapper {
      width: 681px;
      max-width: 681px;

      .text {
        text-align: center;
        font-family: 'Great Vibes';
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #360f0f;
      }
    }

    .main-image {
      // position: absolute;
      inset: 0;
      z-index: 1;

      opacity: 0;
      transition: opacity 1s ease 0.6s;
    }
  }

  .curtain {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%; // КЛЮЧЕВОЕ
    z-index: 2;

    overflow: hidden;

    transition: transform 2.5s cubic-bezier(0.77, 0, 0.175, 1);

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .curtain.left {
    left: 0;
  }

  .curtain.right {
    right: 0;
  }

.be-happy-wrapper.active {
  .curtain.left {
    transform: translateX(calc(-100% + 20vw));
  }

  .curtain.right {
    transform: translateX(calc(100% - 20vw));
  }

  .main-image {
    opacity: 1;
  }
}
}
