<section class="date-invitation-wrapper">
  <div class="text-wrapper">
    <span class="main-text"> Дорогие родные и друзья! </span>

    <span class="secondary-text">
      В этот день мы скажем друг другу «Да» и хотим, чтобы вы были рядом.
    </span>

    <span class="date-text"> 08.08.2026 </span>
  </div>

  <picture class="picture">
    <source
      srcset="/assets/date-invitation/date-invitation-mobile.webp"
      media="(max-width: 768px)"
    />

    <img
      src="/assets/date-invitation/date-invitation-main.webp"
      alt="Wedding background"
      width="1440"
      height="900"
      class="img"
    />
  </picture>
</section>
