:host {
  .timing-wrapper {
    margin-bottom: 65px;

    .picture {
      .img {
        width: 100%;
      }
    }

    .text-wrapper {
      text-align: center;

      .text {
        font-family: 'Great Vibes';
        font-size: 72px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #360f0f;
      }
    }

    .main-block-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
      margin-bottom: 30px;

      .content-wrapper {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;

        .picture {
          .img {
            min-width: 60vw;
          }
        }

        .text {
          color: #360f0f;
          font-family: 'Great Vibes';
          font-size: 36px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  :host {
    .timing-wrapper {
      .text-wrapper {
        .text {
          font-size: 36px;
        }
      }

      .main-block-container {
        gap: 2px;

        .content-wrapper {
          .picture {
            .img {
              min-width: 310px;
              max-width: 310px;
            }
          }

          .text {
            font-size: 28px;
          }
        }
      }
    }
  }
}
