<section class="timing-wrapper">
  <div class="text-wrapper">
    <span class="text">Тайминг дня</span>
  </div>

  <!-- <div class="main-block-container">
    <div class="main-content">
      <div class="leaves-wrapper">
        <div class="first content-wrapper">
          <picture class="picture">
            <img src="/assets/timing/bird.webp" class="img" />
          </picture>

          <span class="text"> Сбор гостей и трансфер </span>
        </div>

        <div class="second content-wrapper">
          <picture class="picture">
            <img src="/assets/timing/rabbits.webp" class="img" />
          </picture>

          <span class="text">Фуршет</span>
        </div>

        <picture class="picture">
          <img src="/assets/timing/leaves-1.webp" class="img" />
        </picture>
      </div>

      <div class="leaves-wrapper">
        <div class="third content-wrapper">
          <picture class="picture">
            <img src="/assets/timing/swans.webp" class="img" />
          </picture>

          <span class="text">Церемония</span>
        </div>

        <div class="fourth content-wrapper">
          <picture class="picture">
            <img src="/assets/timing/food.webp" class="img" />
          </picture>

          <span class="text">Банкет</span>
        </div>

        <picture class="picture">
          <img src="/assets/timing/leaves-2.webp" class="img" />
        </picture>
      </div>
    </div>
  </div> -->

  <picture class="picture bg">
    <source srcset="/assets/timing/sky-image-mobile.webp" media="(max-width: 768px)" />

    <img src="/assets/timing/sky-image.webp" class="img" />
  </picture>
</section>
