<section class="timing-wrapper">
  <div class="text-wrapper">
    <span class="text">Тайминг дня</span>
  </div>

  <div class="main-block-container">
    <div class="content-wrapper">
      <picture class="picture">
        <source srcset="/assets/timing/bird.webp" media="(max-width: 768px)" />

        <img src="/assets/timing/bird.png" class="img" alt="image" />
      </picture>

      <span class="text"> Сбор гостей и трансфер </span>
    </div>

    <div class="content-wrapper">
      <picture class="picture">
        <source srcset="/assets/timing/step-1.webp" media="(max-width: 768px)" />

        <img src="/assets/timing/step-1.png" class="img" alt="image" />
      </picture>
    </div>

    <div class="content-wrapper">
      <picture class="picture">
        <source srcset="/assets/timing/rabbits.webp" media="(max-width: 768px)" />

        <img src="/assets/timing/rabbits.png" class="img" alt="image" />
      </picture>

      <span class="text">Фуршет</span>
    </div>

    <div class="content-wrapper">
      <picture class="picture">
        <source srcset="/assets/timing/step-2.webp" media="(max-width: 768px)" />

        <img src="/assets/timing/step-2.png" class="img" alt="image" />
      </picture>
    </div>

    <div class="content-wrapper">
      <picture class="picture">
        <source srcset="/assets/timing/swans.webp" media="(max-width: 768px)" />

        <img src="/assets/timing/swans.png" class="img" alt="image" />
      </picture>

      <span class="text">Церемония</span>
    </div>

    <div class="content-wrapper">
      <picture class="picture">
        <source srcset="/assets/timing/step-3.webp" media="(max-width: 768px)" />

        <img src="/assets/timing/step-3.png" class="img" alt="image" />
      </picture>
    </div>

    <div class="content-wrapper">
      <picture class="picture">
        <source srcset="/assets/timing/food.webp" media="(max-width: 768px)" />

        <img src="/assets/timing/food.png" class="img" alt="image" />
      </picture>

      <span class="text">Банкет</span>
    </div>
  </div>

  <picture class="picture sky-picture" #skyImage>
    <source srcset="/assets/timing/sky-image-mobile.webp" media="(max-width: 768px)" />

    <img src="/assets/timing/sky-image.webp" class="img sky-img" alt="image" />
  </picture>
</section>
